<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src="/index/index.js"></script>
    <link rel="stylesheet" href="/index/index.css"/>
    <title>RippL</title>
</head>

<body>

    <div
        data-loginerr="<%if (locals.loginErr){%><%=locals.loginErr%><%}%>"
        id="reactEntry">
    </div>
</body>

</html>