<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src="/login/login.js"></script>
    <link rel="stylesheet" href="/login/login.css"/>
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>
    <form action="/login" method="POST">
        <div class="fieldWrapper">
            <label for="email">Email</label>
            <% if (locals.errorMessages) { %>
                <% if (errorMessages.email) { %>
                    <span class="errorMsg">
                        <%=errorMessages.email%>                    
                    </span>
                <% } %>
            <% } %>
            <input id="email" type="email" name="email"/>
        </div>
        <div class="fieldWrapper">
            <label for="password">Password</label>
            <% if (locals.errorMessages) { %>
                <% if (errorMessages.password) { %>
                    <span class="errorMsg">
                        <%=errorMessages.password%>                    
                    </span>
                <% } %>
            <% } %>
            <input id="password" type="password" name="password"/>
        </div>
        <button type="submit">Submit</button>
    </form>
</body>
</html>