<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta id="pondInfo" data-content=<%- JSON.stringify(locals.pond) %>>
    <script defer src="/myPond/myPond.js"></script>
    <title>My Pond</title>
</head>
<body>
    <div id="reactEntry"></div>
</body>
</html>