<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test page</title>
</head>
<body>
    <p>Logged in</p>
    <p>User:</p>
    <p> 
        <%= locals.user %>
    </p>
</body>
</html>