.App {
    height: var(--window-height);
    width: var(--window-width);
    background-image: url('../../assets/pond.png');
    background-size: 5rem;
}

main {
    width: var(--window-width);
    height: calc(var(--window-height) - var(--header-height));
    display: flex;
    align-items: start;
    overflow-y: scroll;
}

section {
    margin-bottom: 2rem;
}

h2 {
    margin: 0;
}

textarea {
    resize: none;
    background-color: var(--dark-gray);
    color: white;
    border-radius: 4px;
}

.ribbitWrapper textarea {
    width: 100%;
    height: 5rem;
}

.pondDiv {
    margin-inline: auto;
    margin-top: 2rem;
    min-height: 5rem;
    width: min(90%, 60rem);
    border-radius: 6px;
    background-color: var(--light-gray);
    overflow: hidden;
    padding: 1rem 4rem;
    color: white;
    box-shadow: 0 0 6px black;
}

.coverImgWrapper {
    display: flex;
    background-color: black;
    border-radius: 4px;
    position: relative;
}

#coverImg {
    margin-inline: auto;
    height: 10rem;
}

.pondHeader {
    text-align: center;
}

.ribbitWrapper {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
}

.changeCoverBtn {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    height: 2rem;
    width: 2rem;
    border-radius: 4px;
    background-color: var(--dark-gray);
    color: white;
    pointer-events: none;
    display: none;
    overflow: hidden;
}

.fileInput {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
}

.coverImgWrapper:hover .changeCoverBtn {
    display: initial;
    pointer-events: all;
}

.aboutHeaderWrapper {
    display: flex;
    justify-content: flex-start;
}

.aboutHeaderWrapper *:first-child {
    margin-right: 2rem;
}

.aboutHeaderWrapper .checkBtn {
    margin-right: 1rem;
}

.aboutHeaderWrapper button {
    height: 2rem;
    width: 2rem;
    border-radius: 4px;
    background-color: var(--dark-gray);
    color: white;
}

.editAboutTextArea {
    margin-top: 1rem;
    width: 100%;
    min-height: 5rem;
}

.ribbitBtn {
    background-color: var(--dark-gray);
    color: white;
    padding: .5rem 1rem;
    border-radius: 4px;
}

.changeRibbitImgWrapper {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.changeRibbitImgBtn {
    height: 2rem;
    width: 2rem;
    border-radius: 4px;
    background-color: var(--dark-gray);
    color: white;
    position: relative;
}

.changeRibbitImgBtn input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.ribbitPreviewWrapper {
    max-width: 10rem;
    max-height: 10rem;
    padding: .5rem;
    border-radius: 4px;
    border: 1px solid var(--dark-gray);
    position: relative;
}

.ribbitPreviewImg {
    max-width: 100%;
    max-height: 100%;
}

.ribbitPreviewWrapper .xBtn {
    border: 1px solid white;
    color: white;
    border-radius: 100%;
    height: 1.5rem;
    width: 1.5rem;
    background-color: var(--light-gray);
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
}

.ribbitPreviewWrapper .xBtn:hover {
    background-color: lightcoral;
} 

.ribbitDiv {
    border: 1px solid white;
    padding: .5rem;
    border-radius: 4px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}