.fieldWrapper {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    align-items: center;
}

.errorMsg {
    color: red;
    background-color: rgb(199, 231, 242);
    border-radius: 4px;
    padding: .125rem 1rem;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}