:root {
    --window-height: 100vh;
    --window-width: 100vw;
    --dark-gray: #252633;
}

* {
    box-sizing: border-box;
}

html {
    background-color: var(--dark-gray);
}

body {
    margin: 0;
    padding: 0;;
    height: var(--window-height);
    width: var(--window-width);
}