:root {
    --window-height: 100vh;
    --window-width: 100vw;
    --header-height: 5rem;
    --dark-gray: #252633;
}

* {
    box-sizing: border-box;
}

html {
    background-image: url('../assets/water.png');
    background-size: 20%;
}

body {
    margin: 0;
    padding: 0;;
    height: var(--window-height);
    width: var(--window-width);
}