/* COMMON =============================== */


/* RippL header */
.ripplHeader {
    text-align: center;
    color: white;
    font-size: 3rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
}
.ripplLogoWrapper {
    display: flex;
    justify-content: center;
}
.ripplLogo {
    max-height: 30rem;
}

/* Slogan */
.sloganTxtOuterWrapper {
    display: flex;
    justify-content: center;
}

.sloganTxtInnerWrapper {
    display: flex;
    flex-direction: column;
    width: 16rem;
}

.sloganTxt {
    color: white;
    font-size: 1.5rem;
    margin: 0;
}

.connectP {
    text-align: start;
}

.flowP {
    text-align: center;
}

.wanderP {
    text-align:end
}


/* Container for sign in btns */
.btnsWrapper {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
}

/* Container items */
.btnsWrapper > * {
    width: 16rem;
}


/* GOOGLE SIGN IN BUTTON */
.gSignInBtn {
    display: flex;
    align-items: center;
    border-radius: 4px;
    box-shadow: 1px 1px 2px black;
    text-decoration: none;
    background-color: rgb(51, 186, 231);
    overflow: hidden;
    max-height: 2.5rem;
}

.gSignInBtn:hover {
    background-color: rgb(133, 195, 216);
}

.gSignInBtn .imgWrapper {
    display: flex;
    align-items: center;
    background-color: white;
}

.gSignInBtn .imgWrapper img {
    max-height: 2.5rem;
}

.gSignInBtn .textWrapper {
    font-family: serif;
    font-weight: 550;
    font-size: 1.1rem;
    color: white;
    max-height: 3rem;
    text-align: center;
    flex-grow: 1;
}

/* Or divider */
.orDiv {
    display: flex;
    color: white;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.orDiv :nth-child(1),
.orDiv :nth-child(3) {
    flex-grow: 1;
    display: flex;
    align-items: center;
    padding-inline: 1rem;
}
.orLine {
    border: 1px solid rgba(255, 255, 255, .3);
    box-shadow: 0 0 2px rgba(255, 255, 255, .3);
}

/* Login form */
.signInForm {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border: 1px solid rgba(255, 255, 255, .3);
    padding-inline: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: white;
}
.signInForm h2 {
    margin: 0;
    color: white;
    text-align: center;
    border-bottom: 1px solid rgba(255, 255, 255, .3);
    padding-bottom: .5rem;
}
.inputWrapper {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
.inputWrapper label {
    text-align: center;
}
.inputWrapper input {
    border-radius: 4px;
}
.signInForm .submitBtnWrapper {
    margin-top: .5rem;
    margin-bottom: .5rem;
    display: flex;
    justify-content: center;
}

/* Sign up link */
.signUpDiv {
    display: flex;
    justify-content: center;
    gap: .5rem;
    color: white;
}

.signUpLink {
    color: rgb(0, 112, 224);
    text-decoration: underline;
}

.signUpLink:hover {
    color: lightblue;
}


/* DESKTOP ========================*/
@media screen and (min-width: 601px) {

    .App {
        height: var(--window-height);
        width: var(--window-width);
        display: grid;
        grid-template-areas: "leftSection rightSection";
        grid-template-columns: 1fr 1fr;
    }

    .logoSection {
        grid-area: leftSection;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .infoSection {
        grid-area: rightSection;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 3rem;
        padding-bottom: 3rem;
    }



}


/* MOBILE ==========================*/
@media screen and (max-width: 600px) {
    
}